html {
  position: relative;
  height: 100%;
  margin: 0;
}

body {

  background: #fafafa;
  color: #333333;
  margin-top: 0px;
  padding:0px; 
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.push {
  height: 220px;
}

.footer {
    height: 200px;
    background-color: #f5f5f5;
    left: 0;
    bottom: 0;
    width: 100%;

}

.footer ul {
  list-style-type: none;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
.issues {

  text-align:center;    
}

/* Display */
.shrinked {
  transform-origin: top left;
  -webkit-transform:scale(0.85);
  -moz-transform:scale(0.85);
  -ms-transform:scale(0.85);
  transform:scale(0.85);
}

.text-block {
  position: absolute;
  top: 300px;
  right: 0px;
  background-color: navy;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  
}
  
/* Navbar */
.navbar {
  margin-bottom: 0px;
}
.bg-navbar {
  background-color: rgba(225, 190, 201, 0.93);
}
.navbar-nav > li {
  float: none;
  display: inline-block;
  text-align: center;
}
.navbar-nav > li.navbar-right {
  float: right !important;
} 
.navbar-brand   {
  font-family: Futura, sans-serif;
} 
  
/* Corey Schafer Styles */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading {
  font-size: 2.5rem;
}
.nowrap {
  white-space: nowrap;
}

/* buttons */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Popover  */
.popover{ 
  max-width: 35%;
  pointer-events: none;
} 
/* Jumbotron */
.jumbotron {
  text-align: center;
}

/* Website Style */
 /* Colors */
 .blue {
  color:#3FB2E8 !important;
}
.pink {
  color:#E1BEC9 !important;
}
.purple {
  color:#352935 !important;
}
.navy {
  color:#354E6D !important;
}
.black { 
  color: rgba(0,0,0,1) !important; 
}
.white { 
  color: white !important; 
}
.yellow {
  color: #FFF191 !important;
}
.yellow-dark{
  color: #B2B009 !important;
}
.bg-yellow{
  background-color: #FFF191 !important;
}
.bg-blue {
   background-color: #d1e2ff ;
 }
.bg-pink {
  background-color: #E1BEC9;
}
.bg-purple {
  background-color: #352935;
}
.bg-navy {
  background-color: #354E6D;
}
.bg-grey { 
  background-color: #E8E8E8	 !important; 
}
.bg-rose {
  background-color: #f2e3e3;
}
.bg-peach{
  background-color: #fff7ea;
}
.bg-secondary {
  background-color: #4a148c  !important;
}
.git-fill{
  color:white !important;
  background-color: rgba(0,0,0,1) !important; 
}

/* Gradients */
.gradient-rose {
  background: linear-gradient(#f2e3e3,#eaf2ff);
}
.gradient-navy {
  background:linear-gradient(#354E6D, white);
}

/* font size  */
.medium { font-size: 17pt !important;}

/* border */
.border-grey { border: 1px solid #c9c9c9; }

/* background & decorations */
.nodecoration { text-decoration: none !important; outline: none !important; box-shadow: none !important; }
/* S/O Denis Torre for these CSS Styles and being great  */
/* Font Weight */
.light { font-weight: 200; }
.regular { font-weight: 300; }
.bold {	font-weight: 400;}
.ultra-light {	font-weight: 100; }
.extra-bold {	font-weight: 600; }

/* Font size */
.very-large { font-size: 29pt;}
.large { font-size: 22pt;}
.medium-large { font-size: 20pt;}
.medium { font-size: 17pt !important;}
.small { font-size: 15pt;}
.very-small { font-size: 15pt !important ;}
.tiny { font-size: 11pt;}
.mini {font-size:10pt;}
.micro { font-size: 9pt;}

/* Font */
.futura {
  font-family: Futura, sans-serif;
}

/* Line Break  */
.hr {
  border: solid 3px;
  color: #DCDCDC;
}
.tab {
  border: solid 0.7px;
  color: #354E6D;
  width: 85%;
}

/* Panel  */
.panel {
  background-color: #f2e3e3;
}
/* Home page scrolling notebooks */



/* searchbar */
.active-purple-3 input[type=text] {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}
.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

}
/** Social Button CSS **/

 .twitter     { color:#55acee;}
 .google-plus { color: #dd4b39; }
 .facebook    { color: #3B5998; }
 .reddit      { color: #ff5700; }
 .linkedin    { color: #4875B4; }
 .email       { color: #444444; }


/* Flask-paginate styling  */
.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}


/* Tags  */
/* Credit to youtube demo: https://github.com/GeekLaunch/tags-input */
.tags-input {
  border: 1px solid #333;
  display: inline-block;
}

.tags-input .tag {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.5em 0.2em;
  display: inline-block;
  background-color: #ddd;
  transition: all 0.1s linear;
  cursor: pointer;
}

.tags-input .tag:hover {
  background-color: #ffbb33;
  color: white;
}

.tags-input .tag .close::after {
  content: '×';
  font-weight: lighter;
  display: inline-block;
  transform: scale(1.4);
  margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
  color: red;
}

.tags-input .main-input {
  border: 0;
  outline: 0;
  padding: 0.5em 0.1em;
}

.tag-text {
  font-size: 8pt;
  font-size:  0.8vw;
  color: black;
  font-weight: 200;
}
.tag-text:hover {
  color: #354E6D ;
}

.card-title {
  font-family: Futura, sans-serif;
  text-align: center
}

.description {
  white-space: nowrap; 
  width: 500px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

/* Animations (provided by animate.css) */
.animate-opacity{
  animation:opac 1.0s}@keyframes opac{from{opacity:0} to{opacity:1}
}
.animate-opacity-2{
  animation:opac 2.0s}@keyframes opac{from{opacity:0} to{opacity:1}
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/* Icon Float Away */
@-webkit-keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}
@keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}
/* Icon Float Away */
.hvr-icon-float-away {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-float-away .hvr-icon {
  -webkit-transform: translateZ(0)ƒ;
  transform: translateZ(0);
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hvr-icon-float-away:hover .hvr-icon, .hvr-icon-float-away:focus .hvr-icon, .hvr-icon-float-away:active .hvr-icon {
  -webkit-animation-name: hvr-icon-float-away;
  animation-name: hvr-icon-float-away;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #E8E8E8	;
  color: white;
}
/* Backward */
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

/* Icon Back */
.hvr-icon-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-back .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-back:hover .hvr-icon, .hvr-icon-back:focus .hvr-icon, .hvr-icon-back:active .hvr-icon {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}

/* Icon Bob */
@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-bob .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-bob:hover .hvr-icon, .hvr-icon-bob:focus .hvr-icon, .hvr-icon-bob:active .hvr-icon {
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

