<!--basic second webpage branched off of home-->
{% extends "layout.html" %}

<!-- Title -->
{% block title %} Submission Guidelines - JOIN {% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<div class="container py-2">
    <div class="row py-5">
        <h1 class="display-4">Submission Guidelines</h1>
        <p class="py-4" style="margin-left: 5em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac accumsan purus, eu consectetur mauris. Suspendisse a risus placerat odio aliquet imperdiet nec nec metus. Integer viverra sodales est, quis vestibulum sapien. Phasellus porttitor justo eros, eget lacinia dui sollicitudin at. Cras nec diam et leo feugiat congue. Nullam justo erat, venenatis et facilisis eu, egestas a nulla. Nulla volutpat magna mi, sit amet efficitur diam eleifend eget.
                <br> </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Vivamus orci nulla, facilisis tempor velit ut, ullamcorper eleifend nulla. Cras et orci dictum, venenatis augue et, feugiat orci. Sed pharetra tempus dui, in aliquam leo pulvinar non. Donec lobortis aliquet mauris, eleifend fringilla nisl euismod vitae. Praesent nunc dui, fringilla eu venenatis in, imperdiet eget odio. Aliquam ultricies gravida nisi, a rhoncus nulla maximus vitae. Proin laoreet purus pharetra risus egestas vestibulum. Fusce ullamcorper, turpis quis tempus finibus, nisi nunc euismod erat, vitae vestibulum lectus nisi eget quam. Nunc pellentesque augue nec rutrum volutpat. Praesent tristique elit id leo ultrices lobortis.
                    <br></br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Proin nec rutrum felis, ut tincidunt elit. Aenean facilisis commodo convallis. Aenean aliquam ipsum magna, quis rhoncus nunc convallis accumsan. Vivamus bibendum posuere fringilla. Quisque consectetur turpis at lorem finibus, ac egestas nulla accumsan. Morbi malesuada dolor nec interdum aliquam. Nam et consequat nulla.
                    <br></br>
                    Aenean ut tellus non erat congue commodo sit amet in tortor. Duis ac consectetur nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse eu hendrerit nisi, eget consequat eros. Donec in commodo nisl. Donec consectetur justo vitae nulla dictum pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi viverra iaculis commodo. Nulla facilisi. Maecenas vitae urna sed risus rutrum aliquam.
                    <br></br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Vestibulum sollicitudin faucibus tortor, ac faucibus neque varius vitae. Fusce vehicula accumsan quam, vulputate laoreet tortor tincidunt sed. Pellentesque odio lorem, viverra eu porta non, mollis eu orci. Suspendisse quis facilisis orci. Suspendisse in rhoncus ex. Ut pharetra hendrerit purus, a vulputate dui vulputate in. Aenean in eros nibh. Praesent posuere metus enim, nec tincidunt nibh suscipit non. Donec congue hendrerit augue ultricies auctor. Duis iaculis consectetur nibh, id sagittis neque consequat convallis. Nulla sagittis rhoncus nisi in ultricies. Cras risus felis, volutpat ut pulvinar a, aliquam at nunc.
                    <br></br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Aliquam urna mi, fermentum ac neque sit amet, laoreet porttitor mi. Maecenas cursus est vel justo euismod tempor. Mauris ac lectus eros. Donec lobortis felis nunc, eu lobortis erat sagittis et. Morbi mattis vulputate ligula, a sagittis justo ultricies eget. Donec ut quam in velit laoreet mattis rutrum ut dolor. Cras dignissim pharetra cursus. Duis sit amet pretium est. Suspendisse justo nunc, euismod at enim eget, elementum auctor odio. Vivamus hendrerit tincidunt pulvinar. Maecenas posuere varius euismod.
                    <br></br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Nunc blandit porta tellus. Ut nulla quam, fermentum at consequat id, feugiat in mauris. Aenean sed posuere purus. Nam sodales sem eu sodales ultrices. Mauris maximus lectus justo, quis finibus ex tincidunt bibendum. Morbi arcu felis, porttitor a velit a, consequat tempus diam. Suspendisse ut tortor mauris.
                    
                    </p>
    </div>
</div>

    
{% endblock content %}